[submodule "src/modules/ifca-node-modules"]
	path = src/modules/ifca-node-modules
	url = https://p365cloud.visualstudio.com/Construction/_git/ifca-node-modules
[submodule "src/modules/ifca-schemer"]
	path = src/modules/ifca-schemer
	url = https://p365cloud.visualstudio.com/Construction/_git/ifca-schemer
